.card {
    background-color: white;
}

.text-primary-custom {
    color: #2255A4;
}

.text-coral {
    color: #FF6F61;
}

.text-secondary-custom {
    color: #43474b; 
}

.body{
    background-color: #81D4FA;
}
.bg-light-custom {
    background-color: #81D4FA;
}


.hero-section {
    min-height: 80vh;
    background-color: #e9f6f5; 
}


.btn-cta {
    background-color: #00BFA5;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: #00a896; 
    transform: translateY(-2px);
}


.card,
.shadow-sm {
    border-radius: 1rem;
    box-shadow:  rgba(0, 0, 0, 0.5) 0px 4px 12px;

}


/*Paleta de colores de "Pidiendo datos"*/

.bg-pastel-blue { 
    background-color:  #d9eef2; 
}
.text-primary-chicha { 
    color: #3f67ba; ; 
    font-weight: bold; 
}
.btn-mint { 
    background-color:  #00c0a5; ; 
    border: none; 
    font-weight: bold; 
    border-radius: 50px; 
}

.btn-mint:hover { 
    background-color: #037465; 
}
.rounded-4 { 
    border-radius: 1.5rem; 
}

.btn-outline-primary-chicha {
    border-color:  #18b4e8;;
    color:  #3f67ba;;
    border-radius: 50px;
    border: 2px solid;
}
.btn-outline-primary-chicha.btn-budget:hover {
    background-color:  #18b4e8;;
    color: white;
}

.btn-outline-primary-chicha.active {
    background-color:  #3f67ba;;
    color: white;
}