.card {
    background-color: white;
}

.text-primary-custom {
    color: #2255A4;
}

.text-coral {
    color: #FF6F61;
}

.text-secondary-custom {
    color: #43474b; 
}

.body{
    background-color: #81D4FA;
}
.bg-light-custom {
    background-color: #81D4FA;
}


.hero-section {
    min-height: 80vh;
    background-color: #e9f6f5; 
}


.btn-cta {
    background-color: #00BFA5;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
}

.btn-cta:hover {
    background-color: #00a896; 
    transform: translateY(-2px);
}


.card,
.shadow-sm {
    border-radius: 1rem;
    box-shadow:  rgba(0, 0, 0, 0.5) 0px 4px 12px;

}


/*Paleta de colores de "Pidiendo datos"*/

.bg-pastel-blue { 
    background-color:  #d9eef2; 
}
.text-primary-chicha { 
    color: #3f67ba; ; 
    font-weight: bold; 
}
.btn-mint { 
    background-color:  #00c0a5; ; 
    border: none; 
    font-weight: bold; 
    border-radius: 50px; 
}

.btn-mint:hover { 
    background-color: #037465; 
}
.rounded-4 { 
    border-radius: 1.5rem; 
}

.btn-outline-primary-chicha {
    border-color:  #18b4e8;;
    color:  #3f67ba;;
    border-radius: 50px;
    border: 2px solid;
}
.btn-outline-primary-chicha.btn-budget:hover {
    background-color:  #18b4e8;;
    color: white;
}

.btn-outline-primary-chicha.active {
    background-color:  #3f67ba;;
    color: white;
}

#participantesSorteo .active{
    background-color:#00BFA5;
    color:white;
    transform:scale(1.05);
    transition:0.2s;
}

#resultadoSorteo .card{
    border-left:6px solid #FFD54F;
}

/* =========================
   PARTICIPANTES (DRAG)
   ========================= */

#listaDrag li{
cursor: grab;
transition: all .2s ease;
border-radius: 8px;
margin-bottom: 6px;
border: 1px solid #E0E0E0;
display:flex;
justify-content:space-between;
align-items:center;
font-weight:500;
}

/* efecto hover */

#listaDrag li:hover{
background:#E3F2FD;
transform:scale(1.02);
box-shadow:0 4px 8px rgba(0,0,0,0.08);
}

/* icono visual de arrastrar */

#listaDrag li::after{
content:"⇄";
font-size:18px;
opacity:.4;
}

/* cuando se arrastra */

#listaDrag li:active{
cursor: grabbing;
background:#81D4FA;
color:#0d3b66;
}


/* =========================
   EXCLUSIONES
   ========================= */

#listaExclusionesUI li{
border-radius:8px;
border-left:5px solid #FF6F61;
background:#FFF5F4;
margin-bottom:6px;
font-weight:500;
transition:all .2s ease;
}

/* animación cuando aparece */

#listaExclusionesUI li{
animation:aparecer .25s ease;
}

@keyframes aparecer{
0%{
opacity:0;
transform:translateY(5px);
}
100%{
opacity:1;
transform:translateY(0);
}
}


/* =========================
   CONTENEDORES
   ========================= */

#listaDrag{
background:#F8FBFF;
padding:10px;
border-radius:10px;
border:2px dashed #81D4FA;
min-height:120px;
}

#listaExclusionesUI{
background:#FFF9F8;
padding:10px;
border-radius:10px;
border:2px dashed #FFB4AE;
min-height:120px;
}